{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.title }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="product-detail">
    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
    <h1>{{ product.title }}</h1>
    <p class="price">Minumum Bid: ${{ product.minimum_bid_price }}</p>
    {{ product.description|linebreaks }}
</div>
{% else %}
    <p>You are not logged In.Please Log in</p>
    <p><a href="{% url 'account_login' %}">Log In</a>
{% endif %}
{% endblock %}