{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
<h1>Ongoing Auction</h1>
<a class="btn btn-primary float-right" href="{% url "pages:product_add" %}" role="button">+Add Items</a>
<a class="btn btn-success float-right" href="{% url "pages:myposts" %}" role="button">My Posted Items</a>
<br>
<br>

<table class="table mb-0">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Minimum Bid</th>
      <th>EndTime</th>
      <th>Add By</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>
        <a href="{{ product.get_absolute_url }}">
          <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "img/no_image.png" %}{% endif %}"
            style="width:80px;">
        </a>
      </td>
      <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></td>
      <td>
        ${{ product.minimum_bid_price }}
      </td>
      <td>
        {{ product.end_time }}
      </td>
      <td>{{ product.created_by.username }}</td>
      <td>
        {% now "Y-m-d H:i" as today_date_time %}
        {% if today_date_time < product.end_time|date:"Y-m-d H:i" %}
        <a  class="btn btn-primary" href="{{ product.get_absolute_url }}">Bid</a>
        {% else %}
        <p><div style="color: red; font-weight: bold">
          Bidding Time is Over !!
      </div>
        </p>
        {% endif %}
      </td>
    </tr>
    
    {% endfor %}
  </tbody>
</table>
<!-- Add pagination View -->
{% if is_paginated %}
<ul class="pagination">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
  <li class="page-item disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paginator.page_range %}
  {% if page_obj.number == i %}
  <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
  <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}

{% else %}
<h1>Your are not logged in. Please Log in</h1>

{% endif %}

{% endblock content %}